/*Animation för h1*/
@keyframes text-zoom {
    from {
        transform: scale(1);
        color: black;
    }

    to {
        transform: scale(1.5);
        color: rgb(88, 21, 21);
    }
}

.text-animation {
    transform: translateY(0) scale(1);
    color: black;
    animation-name: text-zoom;

    &:hover {
        animation: text-zoom ease-in forwards;
    }
}

/*Animation för bild*/
@keyframes images-float-up {
    0% {
        transform: translateY(0);
    }

    70% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.images-animation {
    transform: translateY(0);

    &:hover {
        animation: images-float-up 1s ease-out forwards;
    }
}