/*Variabler*/
$font-stack: Verdana, Geneva, Tahoma, sans-serif;
$rounded-images: true;

/*"mixins"*/
@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0 auto;

    .container {
        font-family: $font-stack;
        width: 100%;
    }
}

nav {
    #menu-toggle {
        display: none;
        font-size: 2rem;
        cursor: pointer;
        padding: 1rem;
    }

    ul {
        @include flex-center();
        gap: 100px;
        margin: 0 auto;
        padding: 2rem;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-weight: 600;
    }

    .you-are-here {
        text-decoration: underline;
    }
}

header {
    img {
        height: auto;
        width: 100%;
        display: block
    }
}

.centered-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    width: 100%;
    height: auto;
}

main {
    @include flex-center();
    flex-direction: column;
    padding-bottom: 2%;

    h1 {
        @include flex-center();
    }

    button {
        @include flex-center();
        width: 200px;
        height: 50px;
        margin-bottom: 2%;
    }

    .content {
        width: 70ch;
        line-height: 1.5rem;
    }

    .images {
        @include flex-center();
        gap: 1rem;

        picture {
            @include flex-center();
            @extend .centered-image
        }

        img {
            width: 100%;

            @if $rounded-images {
                border-radius: 5%;
            }

            @else {
                border-radius: 0;
            }
        }
    }
}

footer {
    @include flex-center();
    margin: 0 auto;
    gap: 5rem;
    padding: 1%;
    font-weight: 600;
}