$font-stack: Verdana, Geneva, Tahoma, sans-serif;

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0 auto;

    .container {
        font-family: $font-stack;
        width: 100%;
    }
}

nav {
    #menu-toggle {
        display: none;
        font-size: 2rem;
        cursor: pointer;
        padding: 1rem;
    }

    ul {
        @include flex-center();
        gap: 100px;
        margin: 0 auto;
        padding: 2rem;
    }

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        font-weight: 600;
    }

    .you-are-here {
        text-decoration: underline;
    }
}

header {
    img {
        height: auto;
        width: 100%;
    }
}

main {
    @include flex-center();
    flex-direction: column;
    padding-bottom: 2%;

    h1 {
        @include flex-center();
    }

    .content {
        width: 70ch;
        line-height: 1.5rem;
    }

    img {
        border-radius: 10%;
        padding-top: 2%;
    }
}

footer {
    @include flex-center();
    margin: 0 auto;
    gap: 5rem;
    padding: 1%;
    font-weight: 600;
}

/*Style för mobil och tablet*/
@media (max-width: 800px) {
    nav {
        #menu-toggle {
            display: block;
            position: absolute;
            top: 0.5rem;
            right: 1rem;
        }

        ul {
            display: none;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding: 1rem 0;
            gap: 1rem;
        }

        ul.open {
            @include flex-center();
        }
    }

    main {
        .content {
            width: 90%;
            max-width: 65ch;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}