@use "sass:color";

/*Variabler för ljust tema*/
$primary-color: #c9b59c;
$background-color: #d9cfc7;
$link-hover-color: color.scale($primary-color, $lightness: 50%);
$link-active-color: color.scale($primary-color, $lightness: -20%);
$font-color: #000000;
$white: #FFFF;

/*Variabler för mörkt tema*/
$primary-color-dark: #272421;
$background-color-dark: #3a3223;
$link-hover-color-dark: color.scale($primary-color-dark, $lightness: 50%);
$link-active-color-dark: color.scale($primary-color-dark, $lightness: -20%);
$font-color-dark: #ffffffb7;

nav {
    background-color: $primary-color;

    a {
        color: $font-color;
    }

    a:hover {
        background-color: $link-hover-color;
    }

    a:active {
        background-color: $link-active-color;
    }

    #menu-toggle {
        color: $white;
    }
}

main {
    background-color: $background-color;
}

footer {
    background-color: $primary-color;
}

/*Mediaquery för mörkt tema*/
@media (prefers-color-scheme: dark) {
    nav {
        background-color: $primary-color-dark;

        a {
            color: $font-color-dark;
        }

        a:hover {
            background-color: $link-hover-color-dark;
        }

        a:active {
            background-color: $link-active-color-dark;
        }
    }

    main {
        background-color: $background-color-dark;
        color: $font-color-dark;
    }

    footer {
        background-color: $primary-color-dark;
        color: $font-color-dark;
    }
}