@use "sass:color";

$primary-color: #c9b59c;
$secondary-color: #d9cfc7;
$background-color: #f9f8f6;
$link-hover-color: color.scale($primary-color, $lightness: 50%);
$link-active-color: color.scale($primary-color, $lightness: -20%);
$font-color: #000000;
$white: #FFFF;

nav {
    background-color: $primary-color;
    
    a {
        color: $font-color;
    }

    a:hover {
        background-color: $link-hover-color;
    }

    a:active {
        background-color: $link-active-color;
    }

    #menu-toggle {
        color: $white;
    }
}

main {
    background-color: $secondary-color;
}

footer {
    background-color: $primary-color;
}